:root {
    --main-title-color:#FFFFFF;
    --secondary-title-color:#212121;
    --about-btn-color:#212121;
    --text-color:#757575;
    --part-second-logo-color-foot:#ffffff;
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

address {
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: #f32141;
    }

.portfolio {
   border-bottom: 1px solid #ECECEC;
}

.logo {
    display: block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
    }

.logo-part {    
    color: #000000;
}

.part-second {
    color:var(--part-second-logo-color-foot);
    margin-bottom: 20px;
}

.logomg {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.nav-list,
.links {
    display: flex;
}

.links {
    margin-left: auto;
    align-items: center;
}

.item-phone {
    margin-left: 30px;
}

.links-item {
   margin-right: 0;
}

.list {
    list-style: none;
}

.one-line {
    display: flex;
    align-items: center;
}

.nav-list .item:not(:last-child) {
margin-right: 50px;
}

.site-nav {   
display: flex;
padding-top: 32px;
padding-bottom: 32px;

color: #212121;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav:hover, 
.site-nav:focus {    
color: #2196F3;
}

.current {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: rgba(33, 150, 243, 1);
    border-radius: 2px;
}

.current {
    color: #2196F3;
}

.link {
text-decoration: none;
}

.nav-link {
display: flex;
align-items: center;
padding-top: 32px;
padding-bottom: 32px;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
fill: #757575;
color: #757575;
gap: 10px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-mailto {
    margin-right: 30px;
    }

.nav-link:hover, 
.nav-link:focus{
    fill: #2196F3;
    color: #2196F3;
}

.links {
    display: flex;
}

.hero{
padding-top: 200px;
padding-bottom: 200px;

background-repeat: no-repeat;
background-position: center;
max-width: 1600px;
height: 600px;
margin: 0 auto;
background-color: #C4C4C4;
background-image: linear-gradient( 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../img/bg-hero.jpg); 
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color:var(--main-title-color);
margin-bottom: 30px;
max-width: 696px;
height: 120px;
margin-left: auto;
margin-right: auto;
}

.button {
cursor: pointer;
display: block;
margin: 0 auto;
border: 0;
padding: 10px 32px;
border-radius: 4px;

font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background: #2196F3; 
}

.particulars {
    padding-top: 94px;
    padding-bottom: 94px;
}

.particulars-list {
    display: flex;
}

.particulars-item:not(:last-child) {
    margin-right: 30px;
}

.particulars-item::before {
    content: '';
    display: block;
    height: 120px;   
    border-radius: 4px;
    background-size: 70px 70px; 
    background-repeat: no-repeat;
    background-color: #F5F4FA;
    background-position: center;
}

.icon-antenna::before {
background-image: url(../img/antenna.svg);
}

.icon-clock::before {
background-image: url(../img/clock.svg);
}

.icon-diagram::before {
background-image: url(../img/diagram.svg);
}

.icon-astronaut::before {
background-image: url(../img/astronaut.svg);
}



.Particular-qualities-title {
    margin-top: 30px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color:var(--secondary-title-color);
}

.Particular-qualities-text {
font-size: 14px;
line-height: 1.71;
color:var(--text-color);
max-width: 270px;
margin-top: 10px;
}

.doing {
    padding-bottom: 94px;
}

.doing-item {
display: block;
position: relative;   
}

.doing-list {
    display: flex;
}

.doing-item {
    padding-bottom: 0;
}

.doing-item:not(:last-child) {
margin-right: 30px;
}

.doing-title, 
.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
color:var(--secondary-title-color);
background-color: #FFFFFF;
}

.doing-title {
    margin-bottom: 50px;
}

.doing-img {
    display: block;
}

.doing-text {
position: absolute;
padding: 27px 107px;
bottom: 0;
width: 370px;
height: 70px;

font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: rgba(255, 255, 255, 1);
background: rgba(47, 48, 58, 0.8);
}

.team-title {
margin-bottom: 50px;
background: #F5F4FA;
} 

.container-team-back {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section-team {
 padding-bottom: 94px;
padding-top: 94px;


background: #F5F4FA;
}

.team-list {
display: flex;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-item {
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-person {
text-align: center;
margin-bottom: 10px;

font-weight: 500;
font-size: 16px;
line-height: 1.19;
color: #212121;
}

.team-text {
text-align: center;
font-size: 16px;
line-height: 1.19;
color:var(--text-color);
margin-bottom: 16px;
}

.studio-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.studio-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-soc-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-soc-link:hover,
.studio-soc-link:focus {
    background-color: #2196F3;
}

.studio-soc-link:hover .studio-soc-icon,
.studio-soc-link:focus .studio-soc-icon {
    fill: #FFFFFF;
}

.regular-clients {
padding-top: 94px;
padding-bottom: 94px;
text-align: center;
}

.regular-clients-title {
margin-bottom: 50px;

font-weight: 700;
font-style: Bold;
font-size: 36px;
line-height: 1.17;
Vertical-align: Top;
letter-spacing: 3%;
color: #212121;
}

.regular-clients-list {
    display: flex;
    gap: 30px;
}

.regular-clients-link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.regular-clients-link:hover,
.regular-clients-link:focus {
   border: 1px solid #2196F3; 
}

.regular-clients-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients-link:hover .regular-clients-icon,
.regular-clients-link:focus .regular-clients-icon {
   fill: #2196F3; 
}

.foot {
    margin-bottom: 20px;
   }

.address-section {
    font-style: normal;
}

.address-text,
.foot-link {
font-size: 14px;
line-height: 1.71;
}

.address-text {
    margin-bottom: 9px;
    color: #FFFFFF;
}

.foot-link {
color: rgba(255, 255, 255, 0.6);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-footer:not(:last-child) {
margin-bottom: 9px;
}

.last {
    margin-bottom: 0px;
}

.foot-link:hover, 
.foot-link:focus {
color: #2196F3
}


.footer{
padding-top: 60px;
padding-bottom: 60px;
background: #2F303A;
}

.footer-line {
    display: flex;
}

.join-links {
    margin-left: 70px;
   }

.join-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14; 
    color:#FFFFFF;
}

.join-list {
    display: flex;
    gap: 10px;
    }

.join-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.join-icon {
    fill: #FFFFFF;
}

.join-link:hover,
.join-link:focus {
    background-color: #2196F3;
}

.sect-filtr-buttons {
    padding-top: 94px;
    padding-bottom: 94px;
}

.btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 47px;
}

.btn-item:not(:last-child) {
    margin-right: 8px;
}

.btn-item {
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 
border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-item:hover,
.btn-item:focus {
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.about-btn {
display: block;
padding: 5px 22px;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color:var(--about-btn-color);
background: #F5F4FA;
border: none;
border-radius: 4px;
}

.clik {
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clik:hover, 
.clik:focus {
    background: #2196F3;
    color: #FFFFFF;
}

.portfolio-link {
    display: inline-block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.portfolio-link:hover,
 .portfolio-link:focus {
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
 }


.all {
    background: #2196F3;
    color: #FFFFFF
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.img-correct {
     display: block;
    max-width: 100%;
    height: auto;
}

.portfolio-slayd {
    position: relative;
    overflow: hidden;
          }  

.portfolio-slayd-text {
    position: absolute;
    bottom: 0;
    height: 100%;
    padding: 63px 24px;
    
font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: #FFFFFF;
background: rgba(33, 150, 243, 0.9);

transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
transform: translateY(100%)
}

.portfolio-link:hover .portfolio-slayd-text {
       transform: translateY(0);
        }

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--secondary-title-color);
}

.portfolio-text {
font-size: 16px;
line-height: 1.88;
color:var(--text-color);
}

.border-portfolio {
padding: 20px 24px;
border-bottom: 1px solid #EEEEEE;
border-left: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
}

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal {
    position: absolute;
    min-height: 581px;
    width: 528px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #FFFFFF;
    text-align: center;
       filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
 
